.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand.center(href="/") エロまとめ
      form.navbar-search.pull-left.hidden-phone
        input.search-query(type="text", placeholder="まとめ検索")
      .pull-right.hidden-phone
        ul.nav
          li
            a(href="/admin/article/new") まとめ作成
          li
            a(href="/user/signup") 会員登録（無料）
          li
            a(href="#") ログイン
