.block-ad
  img(src="http://cambelt.co/300x250")
.suggest-unit
  h4 関連まとめ
  ul.related-list
    li.clearfix
      img.pull-left(src="http://cambelt.co/40x40")
      p あいうえおかきくけこさしすせそなにぬねの
    li.clearfix
      img.pull-left(src="http://cambelt.co/40x40")
      p あいうえおかきくけこさしすせそなにぬねの
    li.clearfix
      img.pull-left(src="http://cambelt.co/40x40")
      p １２３４５６７８９０１２３４５６７８９０
    li.clearfix
      img.pull-left(src="http://cambelt.co/40x40")
      p １２３４５６７８９０１２３４５６７８９０
    li.clearfix
      img.pull-left(src="http://cambelt.co/40x40")
      p １２３４５６７８９０１２３４５６７８９０
  h4 おすすめまとめ
  ul.suggest-list
    li.clearfix
      img.pull-left(src="http://cambelt.co/40x40")
      p あいうえおかきくけこさしすせそなにぬねの
    li.clearfix
      img.pull-left(src="http://cambelt.co/40x40")
      p １２３４５６７８９０１２３４５６７８９０
    li.clearfix
      img.pull-left(src="http://cambelt.co/40x40")
      p １２３４５６７８９０１２３４５６７８９０
    li.clearfix
      img.pull-left(src="http://cambelt.co/40x40")
      p １２３４５６７８９０１２３４５６７８９０
    li.clearfix
      img.pull-left(src="http://cambelt.co/40x40")
      p １２３４５６７８９０１２３４５６７８９０
ul.ad-list
  li
    img(src="http://cambelt.co/300x65")
  li
    img(src="http://cambelt.co/300x65")
