extends ../layout-admin

block additional-script

block content-head
  .span12
    p.article-title.pull-left まとめ作成
    .btn-group.pull-right
      button.btn.btn-success(onclick="submit('/admin/article')") 保存
      button.btn.btn-success 公開
      button.btn.btn-inverse 削除

block content
  .article-editor.span12
    form(id="form", action="/admin/", method="post")
      .title
        .field
          input(name="title", placeholder="まとめタイトルを入力（50文字以内）")
        .option
          a(href="#") オプション
      .meta
        .thumb
          img.thumb-img(src="http://cambelt.co/95x95",width="95",height="95")
          p.thumb-enterURL
            a(href="#") URLを指定
          p.thumb-upload
            a(href="#") アップロード
        .description
          p.description-count 0
          textarea(name="description", placeholder="まとめの説明を入力（150文字以内。改行は反映されません）")
      .item
