extends ../layout

block meta
  .clearfix
    ul.breadcrumb.pull-left
      li
        a(href="/") まとめトップ
        span.divider &gt;
      li
        a(href="#") 動画
    ul.tags.pull-left
      li
        span.label テスト
        span.divider
      li
        span.label テスト
        span.divider
      li
        span.label テスト
        span.divider
      li
        span.label テスト
  .row
    .span9
      .page-thumb.pull-left
        img(src="http://cambelt.co/95x95")
      .title-unit
        h1=article.title
        p=article.description
    .span3
      .fav
        <i class="icon-star"></i>&nbsp;100人のお気に入り
      .view
        <i class="icon-eye-open"></i>&nbsp;100,000 views
      .score-buttons.btn-group
        button.btn
          <i class="icon-star-empty"></i>&nbsp;お気に入り追加
        button.btn
          <i class="icon-thumbs-up"></i>&nbsp;80%
        button.btn
          <i class="icon-thumbs-down"></i>&nbsp;20%
      p.update.pull-right 更新日: 2012年12月27日

block content
  .row
    for item in article.items
      .span9
        .embed!=item.embed
